#mainPopup {
		padding: 5px;
		height: 350px;
		width: 400px;
		font-family: Helvetica, Ubuntu, Arial, sans-serif;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		outline: none;
		
	}

	.container{
		margin: auto;
		text-align: center;

	}
	h1 {
		font-size: 1.5em;
		font-weight: 100;
	}
	.priceTable{
		width: 175px;
		margin-left: 25%%;
	}
	